
    #celticslogo {
        height: 100px;

    }

    ul {
      list-style-type: none;

    }

    ul#nav li {
      display: inline;

    }

    a {
        padding: 14px 16px;
        text-decoration: none;       
        text-transform: uppercase;
     
      }

      a:link{
        color: white;

      }

      a:visited{
        color: white;

      }

      a:hover {
        color: white;

      }
      
      a:active {
        color: white;

      }

    #header {
      position: relative;
      right: 0;
      top: 0;
      width: 100%;
      background-color: green;

    }

    #DALlogo {
      height: 60px;

    }

    #WASlogo {
      height: 60px;

    }

